{% load static %}
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet" />
<link href="{% static 'music/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'music/css/style.css'%}" rel="stylesheet" />
<link href="{% static 'music/css/slicknav.min.css' %}" rel="stylesheet" />


<!-- Navbar -->
<header class="header-section clearfix ">
  <a href="index.html" class="site-logo ">
    <img src="{% static 'music/images/guitar.png'%}" style="height: 50px;width: 50px;" alt="" />
    genre
  </a>
  <!-- <div class="header-right">
    <a href="#" class="hr-btn">Help</a>
    <span>|</span>
    <div class="user-panel">
      <a href="" class="login">Login</a>
      <a href="" class="register">Create an account</a>
    </div>
  </div> -->
  <ul class="main-menu">
    <li><a href="#">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#basic-2">Check Genre</a></li>
    <li>
      <a href=" #working">Working</a>
    </li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>